name: Deploy to WP Engine

YA_WANT_LINTING: true

on:  
  push:
    branches:
        - main

jobs:
  build:

    runs-on: ubuntu-latest
        
    steps: 
    - if: YA_WANT_LINTING
      uses: actions/checkout@v1
      uses: michaelw90/PHP-Lint@master
    - uses: actions/checkout@v2
    - name: GitHub Deploy to WP Engine
      uses: wpengine/github-action-wpe-site-deploy@main
      env: 
          WPE_ENV_NAME: soybeans
          WPE_SSHG_KEY_PUBLIC: ${{ secrets.WPENGINE_PUBLIC_KEY_NAME }} 
          WPE_SSHG_KEY_PRIVATE: ${{ secrets.WPENGINE_PRIVATE_KEY_NAME }} 
          TPO_SRC_PATH: ""
          TPO_PATH: ""
