name: Deploy to WP Engine

on:  
  push:
    branches:
        - main

jobs:
  build:
    env:
      linting: true
      php_version: 7.3
    runs-on: ubuntu-latest    
    steps: 
    - if: env.linting == true
      uses: StephaneBour/actions-php-lint@7.3
    - uses: actions/checkout@v2
    - name: GitHub Deploy to WP Engine
      uses: wpengine/github-action-wpe-site-deploy@main
      env: 
          WPE_ENV_NAME: soybeans
          WPE_SSHG_KEY_PUBLIC: ${{ secrets.WPENGINE_PUBLIC_KEY_NAME }} 
          WPE_SSHG_KEY_PRIVATE: ${{ secrets.WPENGINE_PRIVATE_KEY_NAME }} 
          TPO_SRC_PATH: ""
          TPO_PATH: ""
